/* GRID LAYOUT SPECS */

.wrapper {
  display: grid;
  height: 100vh; /* width set by default to 100% */
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 100px 100px 1fr 100px 10px;
  gap: 2px 2px;

  grid-template-areas:

    ". titlebar ."
    ". options ."
    ". graph ."
    ". legend ."
    ". sample .";
}

.titlebar {
  grid-area: titlebar;
  background-color: lightblue;
  text-align: center;
  position: relative;
  top: 50%;
  font-family: 'Roboto';
  font-size: 25px;



}

.options {
    grid-area: options;
  background-color: lightblue;
}


.graph {
  grid-area: grid;
  background-color: lightblue;

}
.legend {
  grid-area: legend;
  background-color: lightblue;

}

.sample {
  grid-area: sample;
  background-color: lightblue;

}
