/* GRID LAYOUT SPECS */

.wrapper {
  display: grid;
  height: 100vh; /* width set by default to 100% */
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 100px 100px 1fr 100px 50px;
  gap: 2px 2px;

  grid-template-areas:

    ". titlebar ."
    ". options ."
    ". graph ."
    ". legend ."
    ". sample .";
}

.titlebar {
  grid-area: titlebar;
  background-color: lightblue;



}

.options {
    grid-area: options;
  background-color: lightblue;
}
.optionsbar { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap:2px;
  grid-template-areas:
  "search time";
  grid-area: options;
    justify-items: center;
  align-items: center;

}

/*optionsbar nested grid*/

.search {
grid-area: search;
display: inline;
}

.time {
grid-area: time;
display: inline;


}

/*optionsbar nested grid*/


.graph {
  grid-area: grid;
  background-color: lightblue;

}
.legend {
  grid-area: legend;
  background-color: lightblue;

}

.sample {
  grid-area: sample;
  background-color: lightblue;

}
